body {
    background-color: rgba(0, 27, 87, 0.651);
}

th,
td {
    padding: 5px;
    text-align: center;
    border: 1px solid;
    width: 175px;
    background-color: rgb(220, 198, 255);
}

input {
    margin: 5px;
    width: 200px;
}

#button-add-div,
#button-modificar-div,
#button-buscar-div {
    margin-bottom: 25px;
    background-color: rgb(220, 198, 255);
    width: 150px;
    height: 25px;
}

#add-students-div,
#update-students-div {
    display: none;
}

.delete-button {
    background-color: red;
    float: left;
    font-size: 20px;
    width: 100%;
    transition: 0.5s;
    margin-right: 0;
}

.delete-button:hover {
    background-color: rgb(161, 0, 0);
    transition: 0.5s;
}

.view-button {
    background-color: rgb(9, 255, 0);
    float: left;
    font-size: 20px;
    width: 100%;
    transition: 0.5s;
}

.view-button:hover {
    background-color: rgb(11, 133, 0);
    transition: 0.5s;
}

#mas-datos-div {
    display: none;
}

.alert-success {
    background-color: rgba(0, 255, 21, 0.568);
    width: 250px;
    text-align: center;
    display: none;
}